//Break points
@mixin bp($point) {
  $sm-max: "(max-width: 575px)";
  $md-max: "(max-width: 767px)";
  $md-min: "(min-width: 768px)";
  $lg-max: "(max-width: 991px)";
  $xl-max: "(max-width: 1199px)";
  $xxl-max: "(max-width: 1399px)";

  @if $point==sm-max {
    @media #{$sm-max} {
      @content;
    }
  } @else if $point==md-max {
    @media #{$md-max} {
      @content;
    }
  }@else if $point==md-min {
    @media #{$md-min} {
      @content;
    }
  } @else if $point==lg-max {
    @media #{$lg-max} {
      @content;
    }
  } @else if $point==xl-max {
    @media #{$xl-max} {
      @content;
    }
  } @else if $point==xxl-max {
    @media #{$xxl-max} {
      @content;
    }
  }
}
