$black: #000000;
$white: #ffffff;
$gray-dark: #0096a5;
$purple1: #7649bb;
$purple2: #7811f2;
$pink1: #c66394;
$pink2: #900042;
$blue1: #7ddfff;
$blue2: #3178c6;
$blue3: #254bdd;
$blue4:#36b7f0;
$orange1: #dd4b25;
$yellow1: #efd81d;
$blue-light: #67ffff;
$orange-light: #fff5bb;
$gray-lighter: #6b6b6b;
$gray-light: #b7b7b7;

.text-white {
  color: $white;
}

.text-gray-dark {
  color: $gray-dark;
}

.bg-gray-dark {
  background: $gray-dark;
}

.bg-black {
  background: $black;
}
