@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@import "break-points";

$primary-font: "Roboto", sans-serif;

.font-primary {
  font-family: $primary-font;
}

.fw-semibold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.fs-14 {
  font-size: 14px;
  line-height: 18px;
}

.fs-18 {
  font-size: 18px;
  line-height: 26px;
  @include bp(sm-max) {
    font-size: 16px;
  }
}

.fs-16 {
  font-size: 16px;
  line-height: 22px;
}

.fs-22 {
  font-size: 22px;
  line-height: 30px;
  @include bp(xxl-max) {
    font-size: 20px;
    line-height: 26px;
  }
}

.fs-30 {
  font-size: 30px;
  line-height: 40px;
}

.fs-50 {
  font-size: 50px;
  line-height: 60px;
}

.fs-70 {
  font-size: 70px;
  line-height: 75px;
  @include bp(xxl-max) {
    font-size: 62px;
    line-height: 66px;
  }
}
