@import "colors";
@import "fonts";

.site-header {
  background: $white;
  @include bp(md-max) {
    @media (max-height: 700px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 3;
    }
  }
  .site-logo {
    width: 44px;
    @include bp(md-max) {
      width: 30px;
    }
  }
  .email-link {
    color: $black;
  }
  .humburg-menu {
    width: 26px;
    height: 20px;
    position: relative;
    display: none;
    z-index: 4;
    transition: all 0.5s ease;
    transform: rotate(0);
    cursor: pointer;
    @include bp(md-max) {
      display: block;
    }
    span,
    &:after,
    &:before {
      transition: all 0.3s ease;
      display: block;
      height: 2px;
      position: absolute;
      content: "";
      right: 0;
      background: $black;
      width: 100%;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      top: 0;
      transform: rotate(0);
    }
    &::after {
      transform: rotate(0);
      bottom: 0;
    }
  }
  .header-menu {
    @include bp(md-max) {
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      background: $white;
      padding: 50px 20px;
      transform: translateY(-100%);
    }
    li {
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 2px;
        height: 0;
        z-index: 0;
        width: 100%;
        transition: all 0.3s;
        background: $blue-light;
      }
      &:hover,
      &.active {
        &::after {
          height: 8px;
        }
      }
      a {
        color: $black;
        z-index: 1;
        @include bp(md-max) {
          font-size: 26px;
          line-height: 30px;
          font-weight: 600;
          color: $black;
          letter-spacing: 1.3px;
        }
        .icon-wrap {
          width: 20px;
          @include bp(md-max) {
            width: 28px;
          }
        }
      }
    }
  }
}

.menu-open {
  .humburg-menu {
    transform: rotateZ(-180deg);
    span,
    &::before,
    &::after {
      background: $black;
    }
    span {
      width: 0;
    }
    &::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
  }
  .header-menu {
    @include bp(md-max) {
      transform: translateY(0);
    }
  }
}
