@import "break-points";
@import "colors";

.home-section {
  height: 100%;
  background: linear-gradient(90deg, $gray-dark 42%, transparent 42%);
  @include bp(md-max) {
    background: none;
  }
  .its-me-label {
    background: $black;
    color: $white;
    padding: 15px 17px 15px 17px;
    position: relative;
    @include bp(xxl-max) {
      padding: 11px 12px 11px 12px;
    }
    &:after {
      position: absolute;
      content: "";
      border: 8px solid;
      border-color: $black transparent transparent;
      top: 100%;
      right: 13px;
    }
  }
  .name,
  .designation {
    color: $white;
    @include bp(md-max) {
      color: $black;
    }
  }
  .portrait-wrap {
    height: 470px;
    width: 470px;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    @include bp(xxl-max) {
      height: 370px;
      width: 370px;
    }
    @include bp(xl-max) {
      height: 340px;
      width: 340px;
    }
    @include bp(lg-max) {
      height: 290px;
      width: 290px;
    }
    @include bp(md-max) {
      // transform: none !important;
      height: 253px;
      width: 253px;
    }
  }
}
