@import "break-points";
@import "colors";
@import "fonts";

.home-section {
  height: 100%;
  background: $black url("../images/bg1.jpg") no-repeat center -113px;
  overflow: hidden;
  position: relative;
  @media (max-height: 700px) {
    height: calc(100vh - 84px);
    @include bp(md-max) {
      height: calc(100vh - 46px);
    }
  }
  .content-wrapper {
    position: relative;
    z-index: 2;
    font-family: $secondary-font;
    width: 440px;
    max-width: 100%;
    .text {
      margin-bottom: 50px;
    }
    .btn {
      font-family: $primary-font;
    }
  }
  .shape-1 {
    position: absolute;
    top: 0;
    border-left: 320px solid transparent;
    border-bottom: 100vh solid #0096a5;
    transform: skew(-10deg);
    z-index: 0;
    mix-blend-mode: multiply;
    @include bp(md-min) {
      left: 10%;
      top: -10vh;
      border-left: 56vw solid transparent;
    }
    @media only screen and (max-height: 400px) {
      top: unset;
      bottom: 0;
    }
  }
  .shape-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 180px solid transparent;
    border-left: 50vw solid transparent;
    border-bottom: 140vw solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    transform: matrix(1, 0, 0.96569, 1, 0, 0);
    mix-blend-mode: multiply;
    @include bp(md-min) {
      left: 30%;
      bottom: 0;
      border-right: 27vw solid transparent;
      border-left: 8vw solid transparent;
      border-bottom: 70vh solid rgba(0, 0, 0, 0.5);
    }
    @media only screen and (max-height: 400px) {
      left: 0;
      bottom: -70px;
      border-right: 100px solid transparent;
      border-left: 50vw solid transparent;
      border-bottom: 170vw solid rgba(0, 0, 0, 0.5);
    }
  }
}
