@import "colors";
@import "break-points";

.skills-section {
  .skills-slider {
    text-align: center;
    @include bp(md-min) {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
    }
    .slick-slide {
      @include bp(md-min) {
        width: auto !important;
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
      justify-content: center;
      @include bp(md-min) {
        flex-wrap: wrap;
        width: auto !important;
        transform: none !important;
      }
    }
    .slick-cloned,
    .slick-dots,
    .slick-arrow {
      @include bp(md-min) {
        display: none !important;
      }
    }
    .slick-dots {
      bottom: -7px;
      li {
        height: 8px;
        width: 8px;
        background: $blue-light;
        border-radius: 4px;
        transition: all 0.3s;
        button {
          padding: 0;
          height: 100%;
          width: 100%;
          &:before {
            display: none;
          }
        }
        &.slick-active {
          width: 22px;
          background: $gray-dark;
        }
      }
    }
  }
}
